# 七牛云配置
QINIU_ACCESS_KEY=dC3A-WosVq6wbQOJPTfY-DQff08hkcXj_KK8byKI
QINIU_SECRET_KEY=2sCgq3fS_ZSykVZ3IcpcBN-Mfow09utOb8_mEQ0U
QINIU_BUCKET=launch-pad
QINIU_DOMAIN=http://t6yfyzu7s.hn-bkt.clouddn.com
QINIU_ZONE=z2

# JWT 配置
JWT_SECRET=your-secret-key-here

# 数据库配置
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=launchpad

# 应用配置
PORT=3001
NODE_ENV=development
